html, body {
	padding: 0;
	margin: 0;
}

body {
	background: url(ocean.jpg) no-repeat;
	background-size: cover;
}

.fish {
	position: relative;
	top: 25vh;
	left: 0vh;
	width: 30vh;
}

#elem {
	height: 25vh;
	width: 30vh;
	transform: scaleZ(0.25);
	transition: 1s;
}

#start, #reset, #back {
	background-color: blue;
	color: aqua;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	padding: 0;
	font-size: 2vh;
	height: 5vh;
	width: 15vh;
}

.btn1, .btn2, .btn3 {
	position: relative;
	text-align: center;
	margin: 0 auto;
	top: 35vh;
}

.btn2 {
	top: 37vh !important;
}

.btn3 {
	top: 39vh !important;
}